- name: Create Network Restore Play
  hosts: network
  gather_facts: false
  vars:
    data_store:
      scm:
        origin:
          user:
            name: "chagrawa123"
            email: "chagrawa123@outlook.com" 
          url: "https://github.com/chagrawa123/nvc_use_cases"
          token: "{{ lookup('env', 'gh_token') }}"
          filename: "iosxr_22_09_2025.txt"
          path: "data/backups/22-09-2025/iosxr"
  tasks:
    - name: Set vars
      set_fact:
        data_store: "{{ data_store }}"
    - name: Restore network config from saved config
      ansible.builtin.include_role:
        name: network.backup.restore
      
              
