- name: Create Network Restore Play
  hosts: network
  gather_facts: false
  vars:
    data_store:
      scm:
        origin:
          user:
            name: "rohitthakur2590"
            email: "rohitthakur2590@outlook.com" 
          url: "https://github.com/rohitthakur2590/nvc_use_cases"
          token: "{{ lookup('env', 'gh_token') }}"
          filename: "ios_17_08_2025.txt"
          path: "data/backups/17-08-2025/ios"
  tasks:
    - name: Set vars
      set_fact:
        data_store: "{{ data_store }}"
    - name: Restore network config from saved config
      ansible.builtin.include_role:
        name: network.backup.restore
      
              
